[submodule "react-simple-chatbot "]
	path = react-simple-chatbot
	url= https://github.com/kmsaryan/react-simple-chatbot.gits

[submodule "VolvoAssistantDatabase"]
	path = VolvoAssistantDatabase
	url = https://github.com/kmsaryan/VolvoAssistantDatabase.git
