.customer-home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--background);
    color: var(--text);
    text-align: center;
}

.title {
    font-size: 6rem;
    font-family: system-ui, Arial, sans-serif;
    margin-bottom: 20px;
    font-weight: 900;
}

.options-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.option-card {
    width: 500px;
    padding: 70px;
    background: var(--card-background);
    color: var(--text);
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out, background 0.2s ease-in-out;
    font-family: system-ui, Arial, sans-serif;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.option-card h2 {
    font-family: system-ui, Arial, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
}

.option-card p {
    font-family: system-ui, Arial, sans-serif;
    font-size: 1.3rem;
    color: #e0e0e0;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 0;
}

.option-card:hover {
    transform: scale(1.05);
    background: var(--hover);
}

.options-container:hover .option-card:not(:hover) {
    transform: scale(0.95);
}
