/*Footer.css*/
@font-face {
  font-family: "VolvoNovumLight";
  src: url("../assets/fonts/Volvo_Novum_Light.ttf") format("truetype");
}

@font-face {
  font-family: "VolvoBroad";
  src: url("../assets/fonts/VolvoBroad.ttf") format("truetype");
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font-family: "VolvoNovumLight";
  color:rgb(54, 53, 53);
  background-color: #f8f8f8;
}

.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 5px;
}