.schedule-board {
    margin: 20px auto;
    font-family: "VolvoNovumLight", sans-serif;
    max-width: 90%; 
    text-align: center;
}

.schedule-table {
    width: 80%; 
    margin: 0 auto; 
    border-collapse: collapse;
}

.schedule-table th,
.schedule-table td {
    border: 1px solid var(--border-subtle);
    padding: 6px; 
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.schedule-table th {
    background-color: var(--background-light);
    color: var(--text);
    padding: 8px;
}

.empty-slot {
    background-color: var(--background);
    color: var(--text);
}

.empty-slot:hover {
    background-color: var(--hover);
}

.available-slot {
    background-color: var(--success);
    color: var(--eerie-black-2);
}

.available-slot:hover {
    background-color: #b5b99a;
}

.busy-slot {
    background-color: var(--error);
    color: var(--text);
}

.busy-slot:hover {
    background-color: #c96060;
}

.schedule-form-container {
    border: 1px solid var(--border-subtle);
    background-color: var(--card-background);
    color: var(--text);
    padding: 15px;
    border-radius: 8px;
    max-width: 400px;
    margin: 20px auto;
}

.schedule-form-container form div {
    margin-bottom: 10px;
}

.schedule-form-container label {
    margin-right: 10px;
}

.schedule-form-container button {
    margin-right: 10px;
}
